autopush
rooting/rooting.mtc*
rooting/rooting.log
rooting/rooting.acn
rooting/rooting.alg
rooting/rooting.aux
rooting/rooting.glg
rooting/rooting.glo
rooting/rooting.idx
rooting/rooting.ilg
rooting/rooting.ind
rooting/rooting.ist
rooting/rooting.out
rooting/rooting.toc
rooting/rooting.acr
rooting/rooting.gls
rooting/rooting.maf
*.aux
*.png~
